<!DOCTYPE html>

<html th:fragment="parent(content,title,script)" xmlns:th="http://www.thymeleaf.org" class="dark">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width" initial-scale="1.0" name="viewport">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet"/>
    <link data-th-href="@{'/css/output.css'}" rel="stylesheet"/>
    <link data-th-href="@{'/css/style.css'}" rel="stylesheet"/>
    <title data-th-replace="${title}"> Base Page</title>
</head>

<body>

<div class="p-4" >
    <div th:replace = "navbar :: nav"></div>
</div>

<br/>



<div class="p-4"> <section data-th-replace="${content}"></section> </div>

<footer class="p-4"></footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<!--<script data-th-src="@{'/js/script.js'}"></script>-->
<th:block data-th-replace="${script}"></th:block>

</body>

</html>







